* {
    
    margin: 0;
    padding: 0;
}
html,
    body {
      min-height: 100%;
    }
body {
  
    background: linear-gradient(rgb(47,150,163), rgb(48,68,143));
    font-family: 'Fjalla One', sans-serif;
    color: black;
    
}

.top {
    /* border: 4px solid orange; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    padding-bottom: 2% ;;
}

.navbar {
    box-sizing: border-box;
    box-shadow: 8px 8px lightslategray;
    width: 80%;
    height: 5vh;
    font-size: larger;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightgrey;
    margin: auto;
    border-radius: 8px;
    margin-top: 1%;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 15px 12px lightslategray;
    width: 50%;
    height: 58%;
    font-size:medium;
    font-family: 'Fjalla One', sans-serif;
    border-radius: 1vh;
    background-color:lightgrey;
    margin: auto;
    margin-top: 5%;
}

.location-timezone {
    font-size: 3vh;
    display: flex;
    align-items: center;
}

.temperature {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow:15px 12px lightslategray;
    width: 80%;
    font-size:larger;
    font-family: 'Fjalla One', sans-serif;
    border-radius: 1vh;
    background-color:lightgrey;
    margin:auto;
    margin-top: 5%;
}

.temperature-degree {
    cursor: pointer;
}

.degree-section {
    font-size: 3vh;
    display: flex;
    align-items: center;
}

.degree-section span {
    margin: 5px;
}

.sunrise, .sunset {
    box-sizing: border-box;
    box-shadow:10px 10px lightslategray;
    width: 25%;
    font-size: larger;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    background-color:lightgrey;
    margin: auto;
    margin-top: 4%;
}

.parentDiv {
    display: flex;
}

.left-box {
    flex:1;
    margin: 2%;
    /* border: 2px solid red; */
    vertical-align:middle;
    height: auto;
}

.right-box {
    flex: 1;
    margin: 2%;
    /* border: 5px solid purple; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align:middle;
    height: auto;
}

.sunTime {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align:middle;
    height: auto;
}

